(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                // BorderlessFullscreen targeting Monitor 0
                logical_position: Some((0, 0)),
                logical_width: ${MONITOR_0_WIDTH},
                logical_height: ${MONITOR_0_HEIGHT},
                monitor_scale: 1.0,
                monitor_index: 0,
                mode: BorderlessFullscreen,
                app_name: "restore_window",
            )
        ),
    ],
)
