(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                // Exclusive fullscreen targeting Monitor 1
                // Tests W3 workaround (DX12/DXGI crash on startup)
                logical_position: Some((${MONITOR_1_LOGICAL_POS_X}, ${MONITOR_1_LOGICAL_POS_Y})),
                logical_width: ${MONITOR_1_VIDEO_MODE_LOGICAL_WIDTH},
                logical_height: ${MONITOR_1_VIDEO_MODE_LOGICAL_HEIGHT},
                monitor_scale: 1.0,
                monitor_index: 1,
                mode: Fullscreen(
                    video_mode: Some((
                        physical_size: (${MONITOR_1_VIDEO_MODE_WIDTH}, ${MONITOR_1_VIDEO_MODE_HEIGHT}),
                        bit_depth: ${MONITOR_1_VIDEO_MODE_DEPTH},
                        refresh_rate_millihertz: ${MONITOR_1_VIDEO_MODE_REFRESH},
                    )),
                ),
                app_name: "restore_window",
            )
        ),
    ],
)
