(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                logical_position: Some((200, 200)),
                logical_width: 1200,
                logical_height: 800,
                monitor_scale: 1.0,
                monitor_index: 0,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
        (
            key: Managed("window-1"),
            state: (
                logical_position: Some((500, 400)),
                logical_width: 1200,
                logical_height: 800,
                monitor_scale: 1.0,
                monitor_index: 0,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
