(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                logical_position: Some((0, 0)),
                logical_width: ${MONITOR_0_VIDEO_MODE_LOGICAL_WIDTH},
                logical_height: ${MONITOR_0_VIDEO_MODE_LOGICAL_HEIGHT},
                monitor_scale: 2.0,
                monitor_index: 0,
                mode: Fullscreen(
                    video_mode: Some((
                        physical_size: (${MONITOR_0_VIDEO_MODE_WIDTH}, ${MONITOR_0_VIDEO_MODE_HEIGHT}),
                        bit_depth: ${MONITOR_0_VIDEO_MODE_DEPTH},
                        refresh_rate_millihertz: ${MONITOR_0_VIDEO_MODE_REFRESH},
                    )),
                ),
                app_name: "restore_window",
            )
        ),
    ],
)
