(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                logical_position: Some((${MONITOR_1_LOGICAL_POS_X+50}, ${MONITOR_1_LOGICAL_POS_Y+50})),
                logical_width: 900,
                logical_height: 500,
                monitor_scale: 1.0,
                monitor_index: 1,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
        (
            key: Managed("window-1"),
            state: (
                logical_position: Some((${MONITOR_1_LOGICAL_POS_X+200}, ${MONITOR_1_LOGICAL_POS_Y+100})),
                logical_width: 1200,
                logical_height: 800,
                monitor_scale: 1.0,
                monitor_index: 1,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
