(
    version: 3,
    entries: [
        (
            key: Primary,
            state: (
                position: MonitorOffset((200, 100)),
                logical_width: 900,
                logical_height: 500,
                monitor_index: 1,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
        (
            key: Managed("window-1"),
            state: (
                position: MonitorOffset((100, 100)),
                logical_width: 600,
                logical_height: 400,
                monitor_index: 0,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
