(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                // Fullscreen (exclusive) targeting Monitor 0 (eDP, scale 2)
                logical_position: Some((${MONITOR_0_LOGICAL_POS_X}, ${MONITOR_0_LOGICAL_POS_Y})),
                logical_width: ${MONITOR_0_VIDEO_MODE_LOGICAL_WIDTH},
                logical_height: ${MONITOR_0_VIDEO_MODE_LOGICAL_HEIGHT},
                monitor_scale: 1.0,
                monitor_index: 0,
                mode: Fullscreen(
                    video_mode: Some((
                        physical_size: (${MONITOR_0_VIDEO_MODE_WIDTH}, ${MONITOR_0_VIDEO_MODE_HEIGHT}),
                        bit_depth: ${MONITOR_0_VIDEO_MODE_DEPTH},
                        refresh_rate_millihertz: ${MONITOR_0_VIDEO_MODE_REFRESH},
                    )),
                ),
                app_name: "restore_window",
            )
        ),
    ],
)
