(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                // BorderlessFullscreen targeting Monitor 1 (HDMI, scale 1)
                logical_position: Some((${MONITOR_1_LOGICAL_POS_X}, ${MONITOR_1_LOGICAL_POS_Y})),
                logical_width: ${MONITOR_1_WIDTH},
                logical_height: ${MONITOR_1_HEIGHT},
                monitor_scale: 1.0,
                monitor_index: 1,
                mode: BorderlessFullscreen,
                app_name: "restore_window",
            )
        ),
    ],
)
