(
    version: 2,
    entries: [
        (
            key: Primary,
            state: (
                // Monitor 1 (HDMI)
                logical_position: Some((${MONITOR_1_LOGICAL_POS_X+200}, ${MONITOR_1_LOGICAL_POS_Y+200})),
                logical_width: 800,
                logical_height: 600,
                monitor_scale: 1.0,
                monitor_index: 1,
                mode: Windowed,
                app_name: "restore_window",
            )
        ),
    ],
)
